body {
    background: #CCCCCC;
}

hr {
    width: 90%;
    height: 1px;
}

.everything {
    transform: translate(-50%, 0%);
    position: absolute;
    width: 75%;
    left: 50%;
}

#dreams,
#places,
.card {
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
}

#dreams,
#places {
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.card,
.create-place-form {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 8px 8px 1px rgba(0, 0, 0, 0.5);
    color: black;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.create-place-form {
    border-radius: 20px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
}

.thumbnail {
    height: 75px;
    width: 75px;
    margin: 5px;
}

.question {
    margin: 2px;
}